@import "~react-image-gallery/styles/scss/image-gallery.scss"

.Application
  font-size: 1rem
  background-color: #C5C5C5
  height: 100vh

  div
    background-color: #C5C5C5


  .Application-header
    font-weight: bold
    color: #dc0004

  .card
    background-color: #949B96


  .Application-body
    margin-top: 20px

  .error-text
    color: red
    font-weight: bold

  .table-container-responsive
    overflow-x: auto
